@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-200 dark:bg-gray-800
    transition-all duration-500;
}

* {
    transition: all;
    transition-duration:.3s ;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}